<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PREPARICFES</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/comp.css')}}">
</head>
<body>

  <div class="conten_barra">
    <ul class="nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('intro')}}">Introducción</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('criterio')}}">Criterios</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('index')}}">Inicio</a></li>
      <li class="nav-item"><a class="nav-link active" href="{{ url_for('competencias')}}">Información</a></li>
    </ul>
  </div>

  <div class="conten_competencias">
    <h1>COMPETENCIAS</h1>
  </div>

  <div class="grid_competencias" >

    <a href="{{ url_for('pregun1mat')}}" class="card_comp matematicas">
      <div class="logo"><img src="{{ url_for('static', path='Galeria/foquito matematicas.webp')}}" alt="Matemáticas"></div>
      <h2>Matemáticas</h2>
      <ul>
        <li>-Números y operaciones</li>
        <li>-Álgebra</li>
        <li>-Geometría</li>
        <li>-Trigonometría</li>
        <li>-Probabilidad y estadística</li>
      </ul>
    </a>

    <a href="{{ url_for('pregun1ing')}}" class="card_comp ingles">
      <div class="logo"><img src="{{ url_for('static', path='Galeria/foquito.png')}}" alt="Inglés"></div>
      <h2>Inglés</h2>
      <ul>
        <li>-Conversaciones cortas</li>
        <li>-Textos literarios</li>
        <li>-Relacionamientos de palabras</li>
        <li>-Avisos informativos</li>
        <li>-Texto para completar</li>
      </ul>
    </a>

    <a href="{{ url_for('pregunsoc1')}}" class="card_comp sociales">
      <div class="logo"><img src="{{ url_for('static', path='Galeria/foquito de jose.png')}}" alt="Sociales"></div>
      <h2>Sociales y Ciudadanas</h2>
      <ul>
        <li>-Pensamiento reflexivo y sistématico</li>
        <li>-Interpretación y análisis de perspectivas</li>
        <li>-Pensamiento social</li>
      </ul>
    </a>

    <a href="{{ url_for('pregunlec1')}}" class="card_comp lectura">
      <div class="logo"><img src="{{ url_for('static', path='Galeria/foquito lectura.png')}}" alt="Lectura crítica"></div>
      <h2>Lectura Crítica</h2>
      <ul>
        <li>-Identificar y entender los contenidos locales que conforman un texto</li>
        <li>-Reflexionar a partir de un texto y evaluar su contenido</li>
      </ul>
    </a>

    <a href="{{ url_for('preguncien1')}}" class="card_comp ciencias">
      <div class="logo"><img src="{{ url_for('static', path='Galeria/foquito ciencias.png')}}" alt="Ciencias naturales"></div>
      <h2>Ciencias Naturales</h2>
      <ul>
        <li>-Química</li>
        <li>-Biología</li>
        <li>-Física</li>
        <li>-Ciencia, tecnología y sociedad</li>
      </ul>
    </a>

  </div>

</body>
</html>
